.user-profile{
    display: none;
}

.user-profile-active {
    visibility: visible;

    display: flex;
    padding: 0px 0px 40px 40px;

    .user-profile-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user-profile-col {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .user-profile-more-info {
                display: flex;
                align-items: center;
                gap: 10px;

                .additional-attribute {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 14px;
                    height: 14px;
    
                    color: #8f96a3;
                    font-size: 10px;
    
                    background-color: #c2c9d6;
                    border-radius: 10px;
    
                } 
            }
            
        }
    }
}