.user-messages{
    display: none;
}

.user-messages-active {
    visibility: visible;


    .user-messages-container {
        
        .user-messages-no-messages {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #5e636e;
        }
    }
}