/* .side-menu-active {
  position: fixed;
  right: 0;
  top: 0;
  width: 18.1%;
  height: 100%;
  background-color: white;

  color: #999;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  transition: all 1s ease;

  .first-part {
    width: 82%;
    margin: 233px auto 0;
    padding-bottom: 142px;
    border-bottom: 1px solid #c2c9d6;

    .first-part-btns {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .first-part-btn {
        display: flex;
        gap: 55px;
        margin-bottom: 5px;

        &:hover > .icon {
          color: red;
          transition: all 0.4s ease;
        }

        &:hover > .btn-title {
          color: #c2c9d6;
          transition: all 0.4s ease;
        }

        .icon {
          height: 20px;
          scale: (1.6);
          color: rgb(197, 197, 197);
          margin-left: 50px;
          transition: all 0.4s ease;
        }

        .btn-title {
          display: flex;
          align-items: center;
          font-size: 20px;
          color: #1d1e20;
          transition: all 0.4s ease;
        }
      }
    }
  }

  .second-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 125px 0 0 75px;

    .infoBtn {
      font-size: 15px;
      color: #8f96a3;

      &:hover {
        color: #2f3237;
      }
    }
  }
} */

.side-menu-active {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 200px 50px 50px 50px;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: white;
}

.first-part {
}

.side-menu-btns {
  display: flex;
  flex-direction: column;
}

.side-menu-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 12px;
  gap: 10px;
  text-transform: capitalize;
  color: var(--grey-400);
}

.side-menu-icon {
  transition: all 0.5s ease;
}

.side-menu-btn:hover .side-menu-icon {
  color: red;
  transition: all 0.5s ease;
}

.side-menu-btn h3 {
  transition: all ease 0.5s;
}

.side-menu-btn:hover h3 {
  color: var(--grey-700);
  transition: all 0.4s ease;
}

.side-menu-deActive {
  position: fixed;
  right: 0;
  top: 0;
  width: 18.1%;
  height: 100%;
  background-color: white;

  transform: translateX(18vw);
  transition: all 1s ease;

  color: #999;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;

  .first-part {
    width: 82%;
    margin: 233px auto 0;
    padding-bottom: 142px;
    border-bottom: 1px solid #c2c9d6;

    .first-part-btns {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .first-part-btn {
        display: flex;
        gap: 55px;
        margin-bottom: 5px;

        &:hover > .icon {
          color: red;
          transition: all 0.4s ease;
        }

        &:hover > .btn-title {
          color: #c2c9d6;
          transition: all 0.4s ease;
        }

        .icon {
          height: 20px;
          scale: (1.6);
          color: rgb(197, 197, 197);
          margin-left: 50px;
          transition: all 0.4s ease;
        }

        .btn-title {
          display: flex;
          align-items: center;
          font-size: 20px;
          color: #1d1e20;
          transition: all 0.4s ease;
        }
      }
    }
  }

  .second-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 125px 0 0 75px;

    .infoBtn {
      font-size: 15px;
      color: #8f96a3;

      &:hover {
        color: #2f3237;
      }
    }
  }
}
