.user-groups{
    display: none;
}

.user-groups-active {
    visibility: visible;


    width: 500px;
    padding-right: 25px;
    
    .user-title-tab {
        font-size: 30px;
        font-weight: 700;
    }
}