.archive-order-product {
    display: flex;
    flex-direction: row;

    width: 100%;



    .archive-order-product-img {
        width: 150px;
    }

    .archive-order-product-title {
        font-size: 12px;
        font-weight: 600;
    }

    .archive-order-product-text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 10px;

        font-size: 10px;
        color: #2f3237;



        .archive-order-cols {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .archive-order-product-col{
                display: flex;

                .archive-order-product-size {
                    width: 40px;
                }
            }
        }


    }
}