.user-messages{
    display: none;
}

.user-messages-active {
    visibility: visible;

   

    .user-messages-container {
        
        width: 500px;
        padding: 15px 25px 0 0 ;

        .user-messages-no-messages {
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #5e636e;
        }
    }
}