.postProcessingPaymentInfo {
  /* background-color: aqua; */
}

.orderInfoWrapper {
  display: flex;
  flex-direction: column;

  margin: 20px 40px;
  padding: 40px 60px;

  background-color: var(--lt-color-gray-300);

  border-radius: 20px;
}

.orderFields {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.orderFiled {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderTitle {
  font-size: 18;
  font-weight: 700;
}

.orderText {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 20px;
}

.orderInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-block-info-wrapper-CART {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
