.card-list-title {
  padding: 25px 0 5px;
  text-align: center;
  font-weight: 600;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);

  /* max-width: fit-content; */
  padding: 20px;
  margin: 0 auto;

  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 540px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(1, 100%);

    padding: 0 35px;
  }
}

@media screen and (max-width: 375px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 0 auto;
    padding: 0;
  }
}
