.user-container {
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
   
    .user-container-wrapper {
        position: relative;
        display: flex;

        width: 900px;
        margin: 100px auto 0;
        padding: 20px;

        background-color: #dee3ed;
        border-radius: 20px;

        
        transition: all .5s ease;


        .user-navbar-position {
            position: absolute;
        }

        .user-tabs {
            width: 500px;
            padding: 0 0 40px 200px;


            transition: all .5s ease;


        }

        .user-tab {
        }

       
    }
}