.user-container {
    margin-bottom: 100px;

    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;

    .user-profile-bonus-wrapper {
        position: absolute;
        top: 220px;
        right: 140px;
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 25px 20px;

        background-color: #dee3ed;
        border-radius: 10px;
    }
   
    .user-container-wrapper {
        position: relative;
        display: flex;

        width: fit-content;
        // max-width: 900px;

        height: fit-content;
        margin: 100px auto 0;
        padding: 20px;

        background-color: #dee3ed;
        border-radius: 20px;

        
        transition: all .5s ease;


        .user-navbar-position {
            position: absolute;
        }

        .user-tabs {
            // width: 500px;
            min-height: 350px;
            // margin: 0 auto;
            padding: 0 0 40px 220px;


            transition: all .5s ease;


        }

        .user-tab {
        }

       
    }
}