.card-quantity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 20px auto 0;
    justify-content: space-between;
    align-items: center;

    .card-price  {
        font-size:18px;
        font-weight: 700;

        span {
            margin-left: 7px;
            font-size: 12px;
        }
    }

    .card-add-to-cart {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background-color: #e31837;
        border-radius: 15px;
        transition: all .4s ease;
        cursor: pointer;

        &:hover {
            transition: all .4s ease;
            background-color: #9d1126
        }
    }

    .increase-decrease-quantity {
        width: fit-content;
        height: 50px;
        display: flex;
        gap: 20px;
        // position: relative;
        margin-right: -10px;
        justify-content: space-between;
        align-items: center;
        color: black;
        font-size: 18px;
        font-weight: 700;
        background-color: #f8f9fc;
        border: 1px solid #dee3ed;
        border-radius: 15px;


        .quantity-btn {
            display: flex;
            width: 50px;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            background-color: #f8f9fc;
            border: 1px solid #dee3ed;
            border-radius: 15px;

            cursor: pointer;

        }

        
    }

}